.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
}

#chat-window {
  background: linear-gradient(135deg, #f3f4f6 25%, #e5e7eb 25%, #e5e7eb 50%, #f3f4f6 50%, #f3f4f6 75%, #e5e7eb 75%, #e5e7eb 100%);
  background-size: 28.28px 28.28px;
}

#user-input {
  box-shadow:50px;
  width: 800px;
  height: 60px;
  border-radius: 10px;
}

#send-btn {
  box-shadow:20px;
  width:40px;
  padding: 20px; 
  margin-left: 10px;
  background-color: rgb(5, 73, 90);
  border-radius: 150px;
}

#send-btn:hover {
  box-shadow: 0 4px 14px rgba(235, 231, 231, 0.1);
}
